body {
  font-size: calc( 1em + 1vw);
}

#appContainer {
  margin: 0;
  padding:  25px 0;
  width: 100vw;

  #title {
    text-align: center;
  }
}

.homeTitleContainer {
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.searchContainer {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#searchForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#playlistContainer {
  margin-top: 20px;
  width: 100vw;
}

.react-spinner {
  position: relative;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
}

.react-spinner_bar {
  -webkit-animation: react-spinner_spin 1.2s linear infinite;
  -moz-animation: react-spinner_spin 1.2s linear infinite;
  animation: react-spinner_spin 1.2s linear infinite;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  width: 20%;
  height: 7.8%;
  top: -3.9%;
  left: -10%;
}

#podcastPage {
  margin-top: 30px;

  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      height: 250px;
    }
  }
}

@keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-moz-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-webkit-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}
