$purp: #6A4C93;
$mint: #7FC6A4;

body {
  margin: none;
  padding: none;
  font-size: calc( 1em + 1vw);
}

.nav {
  background: $purp;
}
.navTitle {
  color: white;
}
.navAvatar {
  border-radius: 50%;
}

.centerChildren {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

#appContainer {
  margin: 0;
  padding:  25px 0;
  width: 100vw;

  #title {
    text-align: center;
  }
}

.homeTitleContainer {
  width: 100%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    padding: 20px;
  }
}

.searchContainer {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#searchForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#playlistContainer {
  margin-top: 20px;
  width: 100vw;
}

.react-spinner {
  position: relative;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
}

.react-spinner_bar {
  -webkit-animation: react-spinner_spin 1.2s linear infinite;
  -moz-animation: react-spinner_spin 1.2s linear infinite;
  animation: react-spinner_spin 1.2s linear infinite;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  width: 20%;
  height: 7.8%;
  top: -3.9%;
  left: -10%;
}

#podcastPage {
  width: 100%;
  margin-top: 30px;

  .heading {
    width: 100%;
    box-shadow: 5px 4px 2px -2px rgba(0,0,0, .2);

    .headingContainer {
      width: 80%;
      padding-bottom: 50px;

      .logoContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
          height: 250px;
        }
      }

      .titleContainer {
        flex-direction: column;
        text-align: center;

        h2 {
          font-size: 35px;
          color: #333;
          text-transform: none;
        }
        p {
          margin-top: 15px;
          font-size: 15px;
        }
      }
    }
  }
}

@keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-moz-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-webkit-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}
